
.lemonada400 {
  font-family: "Lemonada", cursive;

  font-weight: 400;

}


.playnz400 {
  font-family: "Playwrite NZ", cursive;

  font-weight: 400;

}
.container {
height:fit-content;
width: auto;
margin-left: 10;
background: url(/img/cloudysky.jpg) no-repeat  ;
 

  background-size:auto;

  min-height: auto;
  min-width: 100vw;
  background-color: rgb(225, 138, 91);

padding-top: 20px;
margin-left: 25px;
padding-bottom: 25px;
}
.mainbody {
  background-color: rgb(225, 138, 91);
}
.container2 {
  background: url(/img/author.jpg) repeat center ;
 

  background-size:cover;
  min-height: 120vh;
  min-width: 100vw;
  position: sticky;
  color: goldenrod;
  text-shadow:  4px 4px 4px rgb(163, 162, 162);
  background-color: rgb(225, 138, 91);
}

.box {

  background-color: rgb(225, 138, 91);
  padding-top: 5px;

  padding-left: 50px;
  margin-left: 10px;

}
.footer-color {
  background-color: rgb(225, 138, 91);
}
@media only screen and (max-width: 400px) {
  .container {background: url(/img/starrysky.jpg) repeat center}

}
@media only screen and (max-width: 800px) {
  .box {background: url(/img/starrysky.jpg) repeat center}

}
/* .text {
  text-align: center;
} */