
.lemonada400 {
  font-family: "Lemonada", cursive;

  font-weight: 400;

}


.playnz400 {
  font-family: "Playwrite NZ", cursive;

  font-weight: 400;

}
.container {
height: auto;
width: auto;
margin-left: 10;
color: aquamarine;
background-color: blueviolet;

padding-top: 20px;
margin: 25px;
padding-bottom: 25px;
}
.container2 {
  background: url(/img/cloudysky.jpg) repeat center ;
  background-size:cover;
  min-height: 100vh;
  min-width: 100vw;
  position: sticky;
  
 
}

.box {


  padding-top: 5px;

  padding-left: 50px;
  margin-left: 10px;

}